@import "colors";
@import "dimen";

body{
	margin:0px;
	background: $page-background;
	font-family: sans-serif;
}
.header{
	height: 40px;
	border-bottom: 1px solid $border-color;
	background-color: #e3e8f4;
}
.nav-bar{
	width: 200px;
	background-color: #29394a;
}
.nav-bar {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
		height: 25px;
		padding: 20px;
		color:#fff;
	}
}
