@import "colors";
@import "dimen";

body{
	margin:0px;
	background: $page-background;
}
.header{
	height: 40px;
	border-bottom: 1px solid $border-color;
	background-color: #e3e8f4;
}
.nav-bar{
	height:100px;
	width: 300px;
	background-color: #29394a;
}
