@import "colors";
@import "dimen";

*{
	outline: none;
}
body{
	margin:0px;	
	background-color: #29394a;
	font-family: sans-serif;
	font-size: 14px;
	color: $text-color
}
@media print {
	.header .user, .nav-bar, .button-group{		
		display: none;
	}	
}
.header{
	height: 40px;
	border-bottom: 1px solid $border-color;
	background-color: #e3e8f4;
	color: $text-color;
	.logo{
		margin-top:5px;
		margin-left: 15px;
	}
	.user{
		float: right;
    margin-right: 30px;
    margin-top: 10px;
		&:hover{
			cursor: pointer;
		}
	}
	.username{
		font-size:13px;
		vertical-align: middle;
	}
	.user-menu{
		vertical-align: middle;
	}
}

.nav-bar {	
	float: left;
	width: 220px;
  ul {
    list-style: none;
	padding: 0;
	margin-top: 30px;
  }
  li {
		padding: 15px;
		color: #fff;
		transition: .2s;
		&:hover{
			cursor: pointer;
			background: lighten(#4a484a, 5%);
		}
		&.selected{
			background: #4a484a;			
		}&.not-selected{
			background: tranparent;
		}
	}
}
#main{
	padding: 15px; 
	float: left;
}
.container{
	border: 1px solid #ddd;
	margin: 15px;
  	padding: 15px;
  	overflow: hidden;
  	background: #fff;
  	min-width: 850px;
}
.progressbar {
  color: #fff;
  text-align: right;
  height: 25px;
  border-radius: 1px;
  margin-bottom: 5px;
}
.budget{
	margin-top: 15px;
}
.bar{
	min-width: 2px;
	height: 20px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	transition: all 1.5s ease-in-out;
}
.budget-title {
  display: inline-block;
  width: 140px;
  font-size: 14px;
  vertical-align: middle;
	text-align: right;
  margin-right: 10px;
}
.budget-amount{
	vertical-align: middle;
}
.budget-info{
	margin-top: 15px;
	height: 40px;
}
.button{
	border: none;
	color: #fff;
	padding: 10px;
	min-width: 120px;
	border-radius: 2px;
	margin: 5px;	
	text-decoration: none;
	text-align: center;
	display: inline-block;
	&:hover{
		cursor: pointer;
	}
}
.button-green{
	@extend .button;
	background-color: #497017;
	float: right;
}
.button-lightgreen{
	@extend .button;
	background-color: #0b978c;
}
.button-lightblue{
	@extend .button;
	background-color:#5839b4 ;
	float: right;
}
.button-grashgreen{
	@extend .button;
	background-color:#71bb21 ;
	float: right;
}
.button-brown{
	@extend .button;
	background-color:#8d552b ;
	float: right;
}
.percent{
	@extend .budget-amount;
	color: #73b927;
}
.requisition-tile{
	border: 1px solid #ddd;
	display: flex;
	height: 50px;
	background-color: #c9c7c9;
	border: 1px solid;
	margin-top: 5px;
	.tile{
		flex: .25;
		text-align: center;
		padding-top:10px;
		border-right: 1px solid;
		color:#898d92;
		&:last-child{
			border-right: none;
		}
		.amBudget{
			border: none;
			background-color: #fff;
			padding: 2px 5px;
			color:#898d92;
			width:100px;
		}.disabled{
			background-color: #aaa;
		}
		.title-title{
			font-size: 12px;
		}
		.title-value{
			height: 22px;
		}
	}.selector{
		cursor: pointer;
		padding-left: 15px;
    	text-align: left;
	}
}
.Requisition-container{
	margin: 5px;
	margin-left: 35px;
}
.requisitiondetalis-tile{
	border: 1px solid #ddd;
	display: flex;
}
.requisitiondetalis-tile div:nth-of-type(1) {flex-grow: 1;}
.requisitiondetalis-tile div:nth-of-type(2) {flex-grow: 1;}
.requisitiondetalis-tile div:nth-of-type(3) {flex-grow: 3;}
.requisitiondetalis-tile div:nth-of-type(4) {flex-grow: 1;}
.requisitiondetalis-tile div:nth-of-type(5) {flex-grow: 1;}

.head{
	background-color: #c9c7c9;
}
.requisitiondetalis{
	flex: .25;
}
.alinment{
	padding: 7px;
	color: #898d92;
	max-width: 250px;
	line-height: 1.8;
}

.PO-container{
	margin: 5px;
	margin-left: 70px;
}
.POdetalis-tile{
	@extend .requisitiondetalis-tile;	
}
.POdetalis-tile div:nth-of-type(1) {flex-grow: 1;}
.POdetalis-tile div:nth-of-type(2) {flex-grow: 1;}
.POdetalis-tile div:nth-of-type(3) {flex-grow: 3;}
.POdetalis-tile div:nth-of-type(4) {flex-grow: 1;}
.POdetalis-tile div:nth-of-type(5) {flex-grow: 1;}

.POdetalis{
	flex: .25;
}
.form-container{
	@extend .container;
	padding: 0px;
}
.bold{
	color: #333;
	font-weight: bold;
	font-size: 16px;
}
.form-title{
	@extend .bold;
	padding: 5px;
	display: flex;
	text-align: center;
	background: #c9c7c9;
	.title{
		flex: 1;
		font-size: 15px;
		text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}
	.newhead{	 
		color: #9b826e;
		margin-top: -25px;
	    float: right;
	    margin-right: 50px;
	}
	.division-name{
		flex: .4;
		text-align: left;
		text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}
	.budget-name{
		flex: .4;
		text-align: left;
		text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}
	.date{
		flex: .2;
	}
}
$col-size: 20%;
$input: 13.39%;
.form-row{
	padding: 3px;
	overflow: hidden;
	color: #333;
	@mixin form-cols {
  	@for $i from 1 through 3 {
  		.form-cols-#{$i} {
				width: ($col-size * $i);
				float: left;

			}
  	}
	}
	@include form-cols;
	@mixin input {
		@for $i from 1 through 7{
			.input-#{$i}{
				width: ($input * $i);
				vertical-align: top;

			}
		}
	}
	@include input;
}

.budget-detail{
	display: flex;
	.project-budget-section{
		flex: .5;
		}
	.po-section{
		flex: .5;
	}
}
.Q-color{
		color: $text-color;
}
.button-group{
	overflow: hidden;
	margin: 20px 10px;
}
textarea{
	min-height: 60px;
	resize: none;
	font-family: sans-serif;
}

table.group-budget {
	font-size: 90%;
	width: 100%;
	thead{
		background-color: #29394a;
		color: #fff;
		tr td{
			border-top: 1px solid #9c9c9c;
			border-bottom: 1px solid #9c9c9c;
			text-align: right;
			&:first-child{
				text-align: left;
			}
		}
	}
	tr{
		td{
			padding: 8px;
			padding-right: 16px;
			text-align: right;
			border-right: 1px solid #9c9c9c;
			&:first-child{
				text-align: left;
				border-left: 1px solid #9c9c9c;
			}			
		}		
	}
	tbody{
		tr:last-child td{
			border-top: 1px solid #9c9c9c;
			border-bottom: 1px solid #9c9c9c;
		}
		tr:nth-child(odd){
			background: #ddd;
		}
	}	
}

table.requisition-form{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #333;
	font-size: 11.5px;
	tr:first-child td{
		padding: 20px;
		border: 1px solid #ddd;
		border-right: none;
	}
	td{
		border: 1px solid #ddd;
		border-top: none;
		border-right: none; 
		text-align: center;		
		width: calc(100%/7);
	}
	tr td:last-child{
		padding: 10px;
		border-right: 1px solid #ddd;
	}
}

[tooltip]::after{
	content: attr(tooltip);
	visibility: hidden;
	background: #c9c7c9;
	padding: 4px;
	border-radius: 2px;
	color: #898d92;	
	display: inline-block;
    margin-left: 10px;    
}
[tooltip]:hover{
	cursor: pointer;
	&::after{
		visibility: visible;
	}
}
._720kb-datepicker-calendar{
	left: 0px;
}
form.dialog-form {	
	.label{
		display: inline-block;
		min-width: 125px;
		vertical-align: top;
	}
	.control{
		width: 250px;
	}
	> div{
		padding: 5px;
	}
	.button-grashgreen{
		padding: 5px;
		margin: 0px;
	}
}
datepicker{
	float: none;
}
.no-data{
	text-align: center;	
	font-size: 16px;
	padding: 3px;
}
.error{
	color: red;
}