<div ng-repeat="head in filterHeads = (heads | shop: shop._id)">
  <div class = "requisition-tile">
    <div class = "tile selector" ng-click="openHead(head)">
      <i class="fa {{ activeHead == head  ? 'fa-caret-down' : 'fa-caret-right'}}" aria-hidden="true"></i>
      <span>{{head.headname}}</span>
    </div>
    <div class = "tile">
      <div class='title-value'>{{head.budget | currency:"Rs. "}}</div>
      <span class='title-title'>Budget</span>
    </div>
    <div class = "tile">
      <div class='title-value'>
        Rs. <input type="number"  class="amBudget" ng-class="{disabled: head.isupdating}" ng-disabled="head.isupdating" ng-model="head.amendedbudget" ng-keyup="updateBudgetHead($event.keyCode, head)">
      </div>
      <span class='title-title'>Amended Budget</span>
    </div>
    <div class = "tile">
      <div class='title-value'>{{head.amountutilized | currency:"Rs. "}}</div>
      <span class='title-title'>Amount Utilized</span>
    </div>
    <div class = "tile">
      <div class='title-value'>{{ (head.amendedbudget ==0 ? 0: (head.amountutilized/head.amendedbudget)*100) | number: 2 }}</div>
      <span class='title-title'>% Utilisation</span>
    </div>  
  </div>
  <div class = "Requisition-container" ng-show="activeHead == head">
    <div class= "requisitiondetalis-tile head">
      <div class= "requisitiondetalis">
        <div class = "alinment">Date</div>
      </div>
      <div class= "requisitiondetalis">
          <div class = "alinment">Requisition NO</div>
      </div>
      <div class= "requisitiondetalis">
          <div class = "alinment">Description</div>
      </div>
      <div class= "requisitiondetalis">
        <div class = "alinment">Amount</div>
      </div>
      <div class= "requisitiondetalis">
        <div class = "alinment">Approved</div>
      </div>
    </div>
    <!-- <div ng-show="head.requisitions.length == 0 ">
      <div class="noDataFound">No Requisitions</div>
    </div> -->

  </div>
  <div ng-repeat="requisition in head.requisitions" ng-show="activeHead == head">
    <budget-requisition></budget-requisition>
  </div>
  <div ng-show="activeHead == head">
    <a href= "#/requisition" class="button-lightgreen">Requestion</a>
  </div>
</div>
<p ng-hide="filterHeads.length" class='no-data'>No Data Available</p>
