<div class = "form-container page-controller" ng-controller = "RequisitionCtrl" >    
  <div class = "form-title">
    <div class = "text-overflow title">Fixed Cost Requisition Form</div>
  </div>
  <div class = "form-title">
      <div class = "text-overflow division-name">Division: {{selectedShopForNav.division}}</div>               
      <div class = "text-overflow budget-name" >Budget Head: {{activeHead.headname}}</div>
      <div class="date">
        <div class="newhead" ng-hide="activeHead.newhead != 'true'">New Head</div>
        <div>Date: {{ today | date:"dd/MM/yyyy"}}</div>
      </div>
  </div> 
  <form class="container">
    <div class="form-row">
        <div class="form-cols-1">Requisition Number</div>
        <div class="form-cols-1">
          {{newrequisition.requisitionnumber}}
        </div>
        <div class="form-cols-2 text-overflow">Shop: <strong>{{newrequisition.shopname}}</strong></div> 
        <div class="form-cols-1">Cell
          <input type="text"  maxlength="200" class="input-4" ng-model="newrequisition.cell">
        </div>
    </div>
    <div class = "form-row">
        <div class = "form-cols-1">Requirment Description</div>
        <div class = "form-cols-3">
          <textarea type ="text"  maxlength="200" class = "input-7" ng-model="newrequisition.description"></textarea>
        </div>
        <div class="form-cols-1">Qty
          <input type="text" max-length class="input-2" ng-model="newrequisition.qty" >
        </div>
    </div>
    <div class = "form-row">
      <div class = "form-cols-1 ">Category</div>
      <div class = "form-cols-1">
        <select class = "input-6"
          ng-options="category as category for category in categories"
          ng-model="newrequisition.category"></select>
      </div>
      <div class = "form-cols-2">Detail
        <textarea type="text"  maxlength="200" class="input-6" style="width:78.5%;" ng-model="newrequisition.categorydetails"></textarea>
      </div>
    </div>
    <div class = "form-row">
      <div class = "form-cols-1">Justification</div>
      <div class = "form-cols-3">
        <textarea type="text"  maxlength="200" class="input-7" ng-model="newrequisition.justification"></textarea>
      </div>
    </div>
    <div class = "form-row">
      <div class = "form-cols-1">Quotation Received From</div>
      <div class="form-cols-1">
        <input type="text"  maxlength="200" placeholder="Supplier1" class="input-6" ng-model="newrequisition.supplier1" ng-change="supplierChange('Supplier1')">
      </div>
      <div class="form-cols-1">
        <input type="text"  maxlength="200" placeholder="Supplier2" class="input-6" ng-model="newrequisition.supplier2" ng-change="supplierChange('Supplier2')">
      </div>
      <div class="form-cols-1">
        <input type="text"  maxlength="200" placeholder="Supplier3" class="input-6" ng-model="newrequisition.supplier3" ng-change="supplierChange('Supplier3')">
      </div>
    </div>
    <div class = "form-row">
      <div class = "form-cols-1">Quoted Cost</div>
      <div class = "form-cols-1">
        <input type="text" max-length placeholder="Quoted Cost 1" class = "input-6" ng-model="newrequisition.quotedcost1">
      </div>
      <div class = "form-cols-1">
        <input type="text" max-length placeholder="Quoted Cost 2" class = "input-6" ng-model="newrequisition.quotedcost2">
      </div>
      <div class = "form-cols-1">
        <input type="text" max-length placeholder="Quoted Cost 3" class = "input-6" ng-model="newrequisition.quotedcost3">
      </div>
    </div>
    <div class = "form-row">
      <div class = "form-cols-1">Negotiated Cost</div>
      <div class = "form-cols-1">
        <input type="text" max-length placeholder="Negotiated Cost 1" class="input-6" ng-model="newrequisition.negotiatedcost1">
      </div>
      <div class = "form-cols-1">
        <input type="text" max-length placeholder="Negotiated Cost 2" class="input-6" ng-model="newrequisition.negotiatedcost2">
      </div>
      <div class = "form-cols-1">
        <input type="text" max-length placeholder="Negotiated Cost 3" class = "input-6" ng-model="newrequisition.negotiatedcost3">
      </div>
    </div>
    <div class = "form-row">
      <div class = "form-cols-1">Selected Supplier</div>
      <div class = "form-cols-1 ">
        <select class = "input-6"
          ng-options="supplier as supplier for supplier in suppliers"
          ng-model="newrequisition.selectedsupplier">
            <option style="display:none" value="">Select a Supplier</option>
          </select>
      </div>      
      <div class = "form-cols-1">Reason For Selection:</div>
      <div class = "form-cols-1 ">
        <textarea type = "text"   maxlength="200" class = "input-6" ng-model="newrequisition.reasonsuppliersection"></textarea>
      </div>
    </div>      
  </form>
  <div class = "container">
    <div class = "form-row">
      <div class = "form-cols-1">Budget</div>
      <div class = "form-cols-3 text-overflow">
        <strong>Fixed Cost Budget {{selectedShopForNav.shortname}}</strong>
      </div>
    </div>
  </div>
  <div class = "container">
    <div class = "form-row">
      <div class = "form-cols-1">Shop Description</div>
      <div class = "form-cols-3 text-overflow"><strong>{{selectedShopForNav.shopname}}</strong></div>
    </div>
  </div>
  <div class = "container">
    <div class = "budget-detail">
      <div class = "project-budget-section">
        <div class = "form-row">
          <div class = "form-cols-2 bold">Project-Budget</div>
          <div class = "form-cols-3 bold text-overflow" style="width: 200px;">{{activeHead.headname}}</div>
        </div>
        <div class = "form-row">
          <div class = "form-cols-2">Budget Allocated</div>          
          <div class = "form-cols-2">{{activeHead.budget  | currency: "Rs. "}}</div> 
        </div>
        <div class = "form-row">
          <div class = "form-cols-2">Budget Consumed</div>
          <div class = "form-cols-2">{{activeHead.amountutilized  | currency: "Rs. "}}</div>
        </div>
        <div class = "form-row">
          <div class = "form-cols-2">Balance Budget</div>
          <div class = "form-cols-2">{{activeHead.budget - activeHead.amountutilized  | currency: "Rs. "}}</div>
        </div>
      </div>
      <div class = "po-section">
        <div class = "form-row">
            <div class = "form-cols-2 bold">PO Released</div>
        </div>
        <div class = "form-row" style="font-weight:600;">
            <div class = "form-cols-2">PO No.</div>
            <div class = "form-cols-2">Date</div>
            <div class = "form-cols-1">Amount</div>
        </div>
        <div ng-repeat="requi in activeHead.requisitions">
          <div class = "form-row" ng-repeat="po in requi.po">
            <div class = "form-cols-2">{{po.ponumber}}</div>
            <div class = "form-cols-2">{{po.date.split(':')[0]}}</div>
            <div class = "form-cols-1">{{po.amount | currency: "Rs. "}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class = "container">
    <div class = "shop-budget-section">
      <div class ="shop-budget">
        <div class = "form-row">
          <div class = "form-cols-1 bold">Shop Budget</div>
          <div class = "form-cols-3 bold text-overflow">{{selectedShopForNav.shopname}}</div>
        </div>
        <div class = "form-row">
          <div class = "form-cols-1">Budget Allocated</div>
          <div class="form-cols-1">
            <span class="Q-color">Q1:</span>
            <span>{{selectedShopForNav.shopbudget/4 | currency : "Rs. "}}</span>
          </div>
          <div class = "form-cols-1">
            <span class="Q-color">Q2:</span>
            <span>{{selectedShopForNav.shopbudget/4 | currency : "Rs. "}}</span>
          </div>
          <div class = "form-cols-1">
            <span class="Q-color">Q3:</span>
            <span>{{selectedShopForNav.shopbudget/4 | currency : "Rs. "}}</span>
          </div>
          <div class = "form-cols-1">
            <span class="Q-color">Q4:</span>
            <span>{{selectedShopForNav.shopbudget/4 | currency : "Rs. "}}</span>
          </div>
        </div>
        <div class = "form-row">
          <div class = "form-cols-1">Budget Consumed</div>
          <div class = "form-cols-1">
            <span class="Q-color">Q1:</span>
            <span>{{quarters[0] | currency : "Rs. "}}</span>
          </div>
          <div class = "form-cols-1">
            <span class="Q-color">Q2:</span>
            <span>{{quarters[1] | currency : "Rs. "}}</span>
          </div>
          <div class = "form-cols-1">
            <span class="Q-color">Q3:</span>
            <span>{{quarters[2] | currency : "Rs. "}}</span>
          </div>
          <div class = "form-cols-1">
            <span class="Q-color">Q4:</span>
            <span>{{quarters[3] | currency : "Rs. "}}</span>
          </div>          
        </div>
        <div class = "form-row">
          <div class = "form-cols-1">Balance Budget</div>
          <div class = "form-cols-1">
            <span class="Q-color">Q1:</span>
            <span>{{selectedShopForNav.shopbudget/4 - quarters[0] | currency : "Rs. "}}</span>
          </div>
          <div class = "form-cols-1">
            <span class="Q-color">Q2:</span>
            <span>{{selectedShopForNav.shopbudget/4 - quarters[1] | currency : "Rs. "}}</span>
          </div>
          <div class = "form-cols-1">
            <span class="Q-color">Q3:</span>
            <span>{{selectedShopForNav.shopbudget/4 - quarters[2] | currency : "Rs. "}}</span>
          </div>
          <div class = "form-cols-1">
            <span class="Q-color">Q4:</span>
            <span>{{selectedShopForNav.shopbudget/4 - quarters[3] | currency : "Rs. "}}</span>
          </div>
        </div>
        <div class = "form-row">
          <div class = "form-cols-1">Remark</div>
          <div class = "form-cols-2">
            <textarea type = "text" style="width:580px;" maxlength="200" class = "input-7" ng-model="newrequisition.remarks"></textarea>
          </div>
        </div>
      </div>
    </div>    
    <div>
      <table class="requisition-form" cellspacing="0" cellpadding="0">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td style="font-size: 10px; vertical-align: top; padding-top: 5px;">
            Approved By
          </td>
        </tr>
        <tr>
          <td>Initiator</td>
          <td>Production Dept Head</td>
          <td>Production Div Head</td>
          <td>Shop ME Head</td>
          <td>ME Div Head</td>
          <td>GM</td>
          <td>VP</td>
        </tr>
      </table>
    </div>    
    <div class="button-group">
      <button class = "button-grashgreen" ng-click="saveRequisition()"> Save </button>
      <button class = "button-brown" onClick="window.print()">Print</button>
      <a href = "#/home"><button class = "button-lightblue">Cancel</button></a>
    </div>
  </div>  
  <div class="network-error" ng-show="showNetworkError">
    Can not procees the your request. Please check your internet connection or try again.  
  </div>
</div>
