<div class = "form-container">
    <div class = "form-title">
      <div class = "title">PO Form</div>
    </div>
    <div class = "form-title">
        <div class = "date" class = "">Date: 17/05/2016</div>
    </div>
  <div class = "PO-container">
    <div class= "POdetalis-tile head">
      <div class= "POdetalis">
        <div class = "alinment">Date</div>
      </div>
      <div class= "POdetalis">
          <div class = "alinment">PO NO</div>
      </div>
      <div class= "POdetalis">
          <div class = "alinment">Description</div>
      </div>
      <div class= "POdetalis">
        <div class = "alinment">Amount</div>
      </div>
      <div class= "POdetalis">
        <div class = "alinment"></div>
      </div>
  </div>
  <div class= "POdetalis-tile">
      <div class= "POdetalis">
        <div class = "alinment"></div>
      </div>
      <div class= "POdetalis">
        <div class = "alinment"></div>
      </div>
      <div class= "POdetalis">
        <div class = "alinment"></div>
      </div>
      <div class= "POdetalis">
        <div class = "alinment"></div>
      </div>
      <div class= "POdetalis"></div>
  </div>
</div>
  <div>
    <a href = "#/home"><button class = "button-lightblue">Cancel</button></a>
  </div>
