<div class = "form-container">
    <div class = "form-title">
      <div class = "title">Requisition Form</div>
    </div>
    <div class = "form-title">
        <div class = "date" class = "">Date: 17/05/2016</div>
    </div>
    <div class = "Requisition-container">
      <div class= "requisitiondetalis-tile head">
        <div class= "requisitiondetalis">
          <div class = "alinment">Date</div>
        </div>
        <div class= "requisitiondetalis">
            <div class = "alinment">Requisition NO</div>
        </div>
        <div class= "requisitiondetalis">
            <div class = "alinment">Description</div>
        </div>
        <div class= "requisitiondetalis">
          <div class = "alinment">Amount</div>
        </div>
        <div class= "requisitiondetalis">
          <div class = "alinment">Approved</div>
        </div>
      </div>
      <div class= "requisitiondetalis-tile">
        <div class= "requisitiondetalis">
          <div class = "alinment"></div>
        </div>
        <div class= "requisitiondetalis">
          <div class = "alinment"></div>
        </div>
        <div class= "requisitiondetalis">
          <div class = "alinment"></div>
        </div>
        <div class= "requisitiondetalis">
          <div class = "alinment"></div>
        </div>
        <div class= "requisitiondetalis">
          <div class = "alinment"><input type= "checkbox"></div>
        </div>
      </div>
    </div>
</div>
<div>
  <a href = "#/home"><button class = "button-lightblue">Cancel</button></a>
</div>
